*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:'Poppins',sans-serif;
}

body{

background:#070d18;
color:white;
overflow-x:hidden;

background-image:
radial-gradient(circle at 10% 20%,#00d4ff22 0%,transparent 40%),
radial-gradient(circle at 90% 70%,#ff990022 0%,transparent 40%);
}

.navbar{

display:flex;
justify-content:space-between;
align-items:center;

padding:25px 8%;

position:fixed;
width:100%;

backdrop-filter:blur(20px);

background:rgba(0,0,0,.3);

z-index:999;
}

.logo{

font-size:24px;
font-weight:700;

color:#ff9900;
}

.navbar ul{

display:flex;
gap:30px;
list-style:none;
}

.navbar a{

text-decoration:none;
color:white;
}

.hero{

min-height:100vh;

display:flex;

align-items:center;
justify-content:space-between;

padding:0 8%;
}

.hero-left{

width:55%;
}

.badge{

background:#ff9900;

padding:10px 20px;

border-radius:30px;

color:black;

font-weight:600;
}

.hero h1{

font-size:70px;

margin-top:20px;
}

.hero h2{

color:#00d4ff;

margin:20px 0;
}

.hero p{

line-height:1.8;

color:#cbd5e1;
}

.buttons{

margin-top:30px;
}

.btn{

padding:15px 30px;

text-decoration:none;

border-radius:10px;

margin-right:15px;

font-weight:600;
}

.primary{

background:#ff9900;
color:black;
}

.secondary{

border:2px solid #00d4ff;
color:#00d4ff;
}

.profile-card{

width:350px;

padding:30px;

background:rgba(255,255,255,.05);

backdrop-filter:blur(20px);

border:1px solid rgba(255,255,255,.1);

border-radius:25px;

text-align:center;

box-shadow:
0 0 40px rgba(0,212,255,.2);
}

.profile-card img{

width:180px;
height:180px;

border-radius:50%;

object-fit:cover;

border:5px solid #ff9900;
}

.stats{

display:grid;

grid-template-columns:repeat(4,1fr);

gap:30px;

padding:80px 8%;
}

.stat-card{

padding:30px;

background:#111827;

border-radius:20px;

text-align:center;

transition:.4s;
}

.stat-card:hover{

transform:translateY(-10px);

box-shadow:
0 0 25px rgba(255,153,0,.3);
}

.stat-card h2{

font-size:40px;

color:#ff9900;
}

.socials{

margin-top:30px;
}

.socials a{

font-size:25px;

color:white;

margin-right:20px;
}

@media(max-width:900px){

.hero{

flex-direction:column;
text-align:center;
padding-top:120px;
}

.hero-left{
width:100%;
}

.stats{

grid-template-columns:1fr 1fr;
}

.hero h1{

font-size:50px;
}
}
